* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid darkslategrey;
    padding: 1.5rem;
    margin: 2rem;
    font-weight: bolder;
}

.primaryNavigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    cursor: pointer;
}

.primaryNavigation ul li:hover {
    background-color: aquamarine;
}

main {
    border: 2px solid darkslategrey;
    padding: 1.5rem;
    margin: 2rem;
    display: flex;
    gap: 4rem;
}

aside {
    font-weight: bolder;
    border-right: 1px solid darkslategrey;
    cursor: pointer;
    padding: 3rem;
}

aside ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
}

aside ul li:hover {
    background-color: aliceblue;
}

article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

section {
    padding: 1rem;
    border-radius: 8px;
    background: while;
}

section h2 {
    border-bottom: 2px dashed darkslategrey;
    width: max-content;
}

h2 {
    margin-bottom: 1rem;
}

p {
    margin: 0.5rem auto;
}

.greenSignal {
    height: 1rem;
    width: 1rem;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.quadrantLayout {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem 0;
}

.quadrantLayout section{
    flex: 1 1 300px;
    border: 1px solid darkslategrey;
    padding: 10px;
}

progress {
    appearance: none;
    width: 6rem;
    height: 1rem;
    border: none;
}

progress::-webkit-progress-bar {
    background-color:#e0e0e0;
    border-radius: 4px;
}
progress::-webkit-progress-value {
    background-color:#2ecc71;
    border-radius: 4px;
}

.crew ul{
    list-style: none;
}

.missionTimeline ol {
    margin: 1.5rem 0 0 0.5rem;
    line-height: 2rem;
    list-style-type: disc;
}

.timeline li:last-child {
    list-style: circle;
}

footer {
    border: 2px solid darkslategray;
    padding: 1.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.footerInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}