* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
    font-family: sans-serif;
    background-color: #6dcff6d3;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 1rem;
    background-color: aliceblue;
    font-weight: 450;
    inline-size: 1000px;
    margin: 0 auto;
}

.compass {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 50px;
}

.map {
    width: 900px;
    height: 600px;
    background-color: #e7d8a8;
    border:10px solid #7b5d32;
    border-radius:15px;
    position: relative;
    margin: 1rem auto;
}

.tree {
    position: absolute;
    font-size: 45px;
    z-index: 2;
}

.tree1 {
    top: 60px;
    left: 120px;
}

.tree2 {
    top: 300px;
    left: 450px;
}

.tree3 {
    bottom: 40px;
    right: 100px;
}

.treasure {
    position: absolute;
    bottom: 100px;
    left: 600px;
    font-size: 50px;
    opacity: 0;
    transition: 0.4s;
}

.map:hover .treasure {
    opacity: 0;
}

.pirateShip {
    position: absolute;
    font-size: 60px;
    bottom: 120px;
    right: 600px;
    z-index: 3;

}

.island {
    position: relative;
    font-size: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.missionList {
    width: 250px;
    background-color: white;
    padding: 20px;
    position: sticky;
    top: 20px;
}