* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productCard {
    border: 3px solid lightsteelblue;
    width: 250px;
    padding: 30px;
    margin: 50px;
    text-align: center; 
    background-color: rgb(243, 210, 233);
    border-radius: 12%;
}

.product {
    color: rgb(138, 13, 13);
    margin-bottom: 15px;
}

p {
    margin: 10px;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

button {
    margin-top: 15px;
    padding: 8px 14px;
    color: rgb(180, 223, 100);
    background-color: rgb(37, 34, 34);
}